.App {
  margin: 1% 10% 0 10%;
}
.meme-container {
  padding-top: 20px;
  line-height: normal;
  /*column-count: 2;*/
  column-gap: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
}
